.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.d-flex {
  display: flex;
  flex-wrap: wrap;
}
.card {
  border: solid 1px rgb(219, 202, 202);
  margin: 10px;
  box-sizing: border-box;
  width: 250px;
  background-color:rgb(219, 202, 202) ;
  border-radius: 6px;
}
.button-Xoa {
  background-color: rgb(218, 73, 73);
  color: white;
  border-radius: 4px;
}
.button-Xoa:hover {
  background-color: rgb(224, 123, 123);
  transition: 0.5s ease;
}
.bill {
  padding: 12px;
  
}
.ten-hoa-don {
  font-weight: bold;
  font-size: 20px;
}

  


